<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storganize</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>

<header>
    <div class="container-fluid">
        <div class="title-container">
            <div class="title-div">
                <h1>Storganize</h1>
            </div>
            <div class="welcome-div">
                {% if g.user %}
                    <p>Hello, {{ g.user['username'] }}</p>
                {% else %}
                    <a class="btn btn-warning" href="{{ url_for('auth.login') }}" role="button">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<body>
    {% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                How Storganize works
            </div>
            <div class="card-body">
                <h5 class="card-title">An app that will make organizing storage easier and more efficient.</h5>
                <p class="card-text">Storganize is an app that allows you to create better organization for your storage bins and moving boxes.
                    This allows you to orgnaize much easier. The app allows you to create boxes which allow you to give it a 
                    title, description and tags (ie. Holidays, Seasons). You then can add items to the box, once you hit create a qr code will
                    be generated and you can print it out and stick it on the box. You can scan the QR code and it will provide a link to 
                    your storganize box.
                </p>
            </div>
        </div>
        <div class="row gx-5 serv">
            <div class="col p-4">
                <div class="card">
                    <a type="button" class="btn" class="action" href="{{ url_for('storage.create_box') }}">
                    <img id="my-img" class="card-img-top" src="\static\images\staticbox.png" onmouseover="hover(this);" onmouseout="unhover(this);" />
                    <div class="card-body">
                        <h5 class="card-title">Create New Box</h5>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col p-4">
                <div class="card">
                    <a type="button" class="btn" class="action" href="{{ url_for('storage.get_all_storage_box') }}">
                    <img id="my-img" class="card-img-top" src="\static\images\staticbox.png" onmouseover="hover(this);" onmouseout="unhover(this);" />
                    <div class="card-body">
                        <h5 class="card-title">View Boxes</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

      <script>
        function hover(element) {
          element.setAttribute('src', 'static\\images\\boxopening.gif');
        }

        function unhover(element) {
          element.setAttribute('src', 'static\\images\\staticbox.png');
        }
      </script>
    {% endblock %}
</body>
</html>