{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% block content %}
  <form method="post">
  {{ form.csrf_token }}
  <div class="container">
    <h1>Register</h1>
    <div class="form-control">

      <div>
        <label for="name">Name</label>
        {{ form.name(class="form-control") }}
      </div>
      <div>
        <label for="username">Username</label>
        {{ form.username(class="form-control") }}
      </div>
      <div>
        <label for="password">Password</label>
        {{ form.password(class="form-control") }}
      </div>

        <button type="submit" class="btn btn-success" style="margin-top: 10px; margin-bottom: 5px;">Register</button>
    
    </div>
  </div>
</form>
  {% endblock %}
</body>
</html>