{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
s
  {% block content %}
  <div class="container">
    <h1>Register</h1>
    <div class="form-control">
      <form method="post">
        <div>
          <label for="name">Name</label>
          {{ form.name(class="form-control") }}
        </div>
        <div>
          <label for="username">Username</label>
          {{ form.username(class="form-control") }}
        </div>
        <div>
          <label for="password">Password</label>
          {{ form.password(class="form-control") }}
        </div>
        <div>
          <a type="button" class="btn btn-success" style="margin-top: 10px; margin-bottom: 5px;" type="submit">Register</a>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
</html>